node_modules/
.DS_Store
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-shm
.wrangler/state/v3/cache/miniflare-CacheObject/metadata.sqlite-wal
